*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body{
  background: linear-gradient(to right, rgb(9, 18, 44), rgb(30, 50, 90), rgb(70, 100, 150));
  z-index: 1;
  /* background: #09122c; */
  font-family: "poppins", sans-serif;
}
:root {
  color: #09122c;
}
